{
  "presets": ["es2015", "react"],
  "env": {
    "webpack-dev": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    },
    "webpack-prod": {
      "presets": ["es2015", "react"]
    },
    "extract": {
      "presets": ["es2015", "react"],
      "plugins": [
        ["css-modules-transform", {
          "extensions": [".css", ".scss"]
        }]
      ]
    }
  }
}