doctype html
html
  head
    title React Webpack Single Page App
    link(rel='stylesheet', type='text/css', href='app-build.css')
    script(src='modernizr.js')
  body
    div#root=content
  script(src='bundle-build.js')