@import 'reusable';
@import 'sprites';

.paragraph {
  font-size: 28px;
  font-family: Georgia, serif;
  box-sizing: border-box; // demonstrates Autoprefixer at work

  @include breakpoint(desktop) {
    font-size: 36px; // demonstrates Sass at work
  }
}

.unmounted {
  @extend .paragraph;
  background: yellow;
}

.mounted {
  @extend .paragraph;
  background: pink;
}

.font_example {
  font-family: Georgia, serif;
  margin-top: 50px;
  
  .wf-active & {
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif; // demonstrates WebFontLoader at work
  }
}

.clearfix {
  @include clearfix;
  float: left;
  margin-top: 50px;
}

.twitter {
  background: svg-inline(twitter); // demonstrates postcss-inline-svg at work
  width: 100px;
  height: 100px;
}