@import 'reusable';
@import 'sprites';
@import 'responsive';
@import 'variables';

.paragraph {
  font-size: 16px;
  font-family: Georgia, serif;
  box-sizing: border-box; // demonstrates Autoprefixer at work

  &--mounted {
    @extend .paragraph;
    background: pink;
  }

  &--unmounted {
    @extend .paragraph;
    background: yellow;
  }

  @include mq($from: tablet) {
    font-size: 24px;
  }
}

.image {
  margin-top: 50px;
}

.image-caption,
.twitter-caption,
.bg-image-caption {
  margin-top: 5px;
}

.font_example {
  font-family: Georgia, serif;
  margin-top: 50px;

  .wf-active & {
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif; // demonstrates WebFontLoader at work
  }
}

.float {
  @extend .clearfix; // demonstrates Sass mixin at work
  width: 200px;
  height: 100px;
  margin-top: 50px;

  &__item {
    float: left;
    width: 100px;
    height: 100%;

    &:first-child {
      background: red;
    }

    &:last-child {
      background: green;
    }
  }
}

.twitter {
  background: svg-inline(twitter); // demonstrates postcss-inline-svg at work
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.bg-image {
  background-image: url(#{$bg-image-path}placeholder.png);
  width: 350px;
  height: 150px;
}
